.item
  position: relative
  border-radius: 4px
  border: 2px solid rgba(255, 255, 255, 0.02)
  padding: 2px
  &.grey
    background: radial-gradient(circle, rgba(70,70,70,1) 0%, rgba(0,0,0,0) 150%)
  &.light-blue
    background: radial-gradient(circle, rgba(11,177,229,1) 0%, rgba(0,0,0,0) 150%)
  &.blue
    background: radial-gradient(circle, rgba(11,72,229,1) 0%, rgba(0,0,0,0) 150%)
  &.purple
    background: radial-gradient(circle, rgba(107,11,229,1) 0%, rgba(0,0,0,0) 150%)
  &.pink
    background: radial-gradient(circle, rgba(174,17,200,1) 0%, rgba(0,0,0,0) 150%)
  &.red
    background: radial-gradient(circle, rgba(185,32,32,1) 0%, rgba(0,0,0,0) 150%)
  &.yellow
    background: radial-gradient(circle, rgba(225,181,20,1) 0%, rgba(0,0,0,0) 150%)
  &_backdrop
    z-index: 1
    filter: saturate(145%)
  &_inner
    position: relative
    z-index: 2
    height: 100%
    padding: 8px 5px
    display: flex
    align-items: center
    flex-direction: column
    gap: 2px
  &_pic
    width: 100%
    img
      width: 100%
  &_title
    flex-shrink: 0
    width: 100%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    font-size: 8px
    align-self: start
    @apply text-text-primary

@media ( max-width: 768px )
  .item
    &_title
      font-size: 6px